@model IEnumerable<KolaNaukowe.API.Models.StudentResearchGroup>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var studentResearchGroup in Model)
        {
            <tr>
                <td>@studentResearchGroup.Name</td>
            </tr>
        }
    </table>
</body>
</html>
