@model IEnumerable<KolaNaukowe.web.Models.StudentResearchGroup>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var group in Model)
        {
        <tr>
            <td>@group.Id</td>
            <td>@group.Name</td>
        </tr>
        }
    </table>
</body>
</html>